Initiating the docs and the imports for the project. First steps.

In [25]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import statistics
import plotly.io as pio

In [8]:
# Open and stocking both csv in df

df_cr = pd.read_csv('../Data/Cash request.csv')
df_fe = pd.read_csv('../Data/Fees.csv')
display(df_cr)
display(df_fe)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

Finding the index, columns, heads, shape and values

In [ ]:
# For Cash Request
print("Index:", df_cr.index)
print("Shape:", df_cr.shape)
print("Values:", df_cr.values)
print("Columns:", df_cr.columns)
print("Head:\n", df_cr.head())
print("Type of data:\n", df_cr.dtypes)
print(df_cr.info)
""" 
So, we have missing values, a len of 23970, 2D, 16 columns,
some of those columns may need to be converted into str since they are dt
"""

Index: RangeIndex(start=0, stop=23970, step=1)
Shape: (23970, 16)
Values: [[5 100.0 'rejected' ... nan nan nan]
 [70 100.0 'rejected' ... nan nan nan]
 [7 100.0 'rejected' ... nan nan nan]
 ...
 [22357 100.0 'money_back' ... nan nan nan]
 [20256 100.0 'money_back' ... nan nan nan]
 [19886 100.0 'direct_debit_sent' ... nan nan nan]]
Columns: Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_status', 'reco_creation', 'reco_last_update'],
      dtype='object')
Head:
      id  amount    status                     created_at  \
0     5   100.0  rejected  2019-12-10 19:05:21.596873+00
1    70   100.0  rejected   2019-12-10 19:50:12.34778+00
2     7   100.0  rejected   2019-12-10 19:13:35.82546+00
3    10    99.0  rejected  2019-12-10 19:16:10.880172+00
4  1594   100.0  rejected  2020-05-06 09:59:38.877376+00

                      updated_at  user_id                   moderated_at  \
0   2019-12-11 16:47:42.40783+00    804.0  2019-12-11 16:47:42.405646+00
1  2019-12-11 14:24:22.900054+00    231.0  2019-12-11 14:24:22.897988+00
2  2019-12-11 09:46:59.779773+00    191.0  2019-12-11 09:46:59.777728+00
3  2019-12-18 14:26:18.136163+00    761.0  2019-12-18 14:26:18.128407+00
4   2020-05-07 09:21:55.34008+00   7686.0  2020-05-07 09:21:55.320193+00

   deleted_account_id             reimbursement_date  \
0                 NaN  2020-01-09 19:05:21.596363+00
1                 NaN   2020-01-09 19:50:12.34778+00
2                 NaN  2020-01-09 19:13:35.825041+00
3                 NaN  2020-01-09 19:16:10.879606+00
4                 NaN         2020-06-05 22:00:00+00

  cash_request_received_date money_back_date transfer_type send_at  \
0                        NaN             NaN       regular     NaN
1                        NaN             NaN       regular     NaN
2                        NaN             NaN       regular     NaN
3                        NaN             NaN       regular     NaN
4                        NaN             NaN       regular     NaN

  recovery_status reco_creation reco_last_update
0             NaN           NaN              NaN
1             NaN           NaN              NaN
2             NaN           NaN              NaN
3             NaN           NaN              NaN
4             NaN           NaN              NaN
Type of data:
 id                              int64
amount                        float64
status                         object
created_at                     object
updated_at                     object
user_id                       float64
moderated_at                   object
deleted_account_id            float64
reimbursement_date             object
cash_request_received_date     object
money_back_date                object
transfer_type                  object
send_at                        object
recovery_status                object
reco_creation                  object
reco_last_update               object
dtype: object
<bound method DataFrame.info of           id  amount             status                     created_at  \
0          5   100.0           rejected  2019-12-10 19:05:21.596873+00
1         70   100.0           rejected   2019-12-10 19:50:12.34778+00
2          7   100.0           rejected   2019-12-10 19:13:35.82546+00
3         10    99.0           rejected  2019-12-10 19:16:10.880172+00
4       1594   100.0           rejected  2020-05-06 09:59:38.877376+00
...      ...     ...                ...                            ...
23965  20616   100.0         money_back  2020-10-12 13:54:11.686225+00
23966  25243    50.0         money_back   2020-10-27 14:41:25.73491+00
23967  22357   100.0         money_back  2020-10-20 07:58:04.006937+00
23968  20256   100.0         money_back  2020-10-10 05:40:55.700422+00
23969  19886   100.0  direct_debit_sent  2020-10-08 14:16:52.155661+00

                          updated_at  user_id                   moderated_at  \
0       2019-12-11 16:47:42.40783+00    804.0  2019-12-11 16:47:42.405646+00
1      2019-12-11 14:24:22.900054+00    231.0  2019-12-11 14:24:22.897988+00
2      2019-12-11 09:46:59.779773+00    191.0  2019-12-11 09:46:59.777728+00
3      2019-12-18 14:26:18.136163+00    761.0  2019-12-18 14:26:18.128407+00
4       2020-05-07 09:21:55.34008+00   7686.0  2020-05-07 09:21:55.320193+00
...                              ...      ...                            ...
23965  2021-02-06 20:17:49.292493+00  13681.0                            NaN
23966  2020-12-18 13:15:40.843946+00      NaN                            NaN
23967  2021-02-05 12:19:30.656816+00  82122.0                            NaN
23968  2021-02-05 13:14:19.707627+00  64517.0                            NaN
23969  2021-01-05 15:45:52.645536+00  44867.0                            NaN

       deleted_account_id             reimbursement_date  \
0                     NaN  2020-01-09 19:05:21.596363+00
1                     NaN   2020-01-09 19:50:12.34778+00
2                     NaN  2020-01-09 19:13:35.825041+00
3                     NaN  2020-01-09 19:16:10.879606+00
4                     NaN         2020-06-05 22:00:00+00
...                   ...                            ...
23965                 NaN         2021-02-06 11:00:00+00
23966             30367.0         2020-11-03 22:00:00+00
23967                 NaN         2021-02-05 11:00:00+00
23968                 NaN         2021-02-05 11:00:00+00
23969                 NaN         2021-02-05 11:00:00+00

      cash_request_received_date                money_back_date transfer_type  \
0                            NaN                            NaN       regular
1                            NaN                            NaN       regular
2                            NaN                            NaN       regular
3                            NaN                            NaN       regular
4                            NaN                            NaN       regular
...                          ...                            ...           ...
23965                 2020-10-13  2021-02-06 20:17:49.257521+00       instant
23966                 2020-10-28  2020-12-01 13:26:53.787672+00       instant
23967                 2020-10-21  2021-02-05 12:19:30.626289+00       instant
23968                 2020-10-12  2021-02-05 13:14:19.689906+00       instant
23969                 2020-10-10                            NaN       instant

                             send_at recovery_status  \
0                                NaN             NaN
1                                NaN             NaN
2                                NaN             NaN
3                                NaN             NaN
4                                NaN             NaN
...                              ...             ...
23965  2020-10-12 13:54:24.352856+00             NaN
23966  2020-10-27 14:41:57.901946+00       completed
23967  2020-10-20 07:58:14.171553+00             NaN
23968  2020-10-10 05:41:23.368363+00             NaN
23969  2020-10-08 14:17:04.526139+00             NaN

                       reco_creation               reco_last_update
0                                NaN                            NaN
1                                NaN                            NaN
2                                NaN                            NaN
3                                NaN                            NaN
4                                NaN                            NaN
...                              ...                            ...
23965                            NaN                            NaN
23966  2020-11-12 23:20:41.928788+00  2020-12-01 13:26:53.815504+00
23967                            NaN                            NaN
23968                            NaN                            NaN
23969                            NaN                            NaN

[23970 rows x 16 columns]>

' \nSo, we have missing values, a len of 23970, 2D, 16 columns,\nsome of those columns need to be converted into str since they are dt\n'

In [18]:
# For Fees

print("Index:", df_fe.index)
print("Shape:", df_fe.shape)
print("Values:", df_fe.values)
print("Columns:", df_fe.columns)
print("Head:\n", df_fe.head())
print("Type of data:\n", df_fe.dtypes)
print("Info:", df_fe.info)

Index: RangeIndex(start=0, stop=21061, step=1)
Shape: (21061, 13)
Values: [[6537 14941.0 'instant_payment' ... nan nan 'after']
 [6961 11714.0 'incident' ... nan nan 'after']
 [16296 23371.0 'instant_payment' ... nan nan 'after']
 ...
 [18779 25331.0 'instant_payment' ... nan nan 'after']
 [16542 23628.0 'instant_payment' ... nan nan 'after']
 [13301 20982.0 'instant_payment' ... nan nan 'after']]
Columns: Index(['id', 'cash_request_id', 'type', 'status', 'category', 'total_amount',
       'reason', 'created_at', 'updated_at', 'paid_at', 'from_date', 'to_date',
       'charge_moment'],
      dtype='object')
Head:
       id  cash_request_id             type    status               category  \
0   6537          14941.0  instant_payment  rejected                    NaN
1   6961          11714.0         incident  accepted  rejected_direct_debit
2  16296          23371.0  instant_payment  accepted                    NaN
3  20775          26772.0  instant_payment  accepted                    NaN
4  11242          19350.0  instant_payment  accepted                    NaN

   total_amount                              reason  \
0           5.0  Instant Payment Cash Request 14941
1           5.0               rejected direct debit
2           5.0  Instant Payment Cash Request 23371
3           5.0  Instant Payment Cash Request 26772
4           5.0  Instant Payment Cash Request 19350

                      created_at                     updated_at  \
0   2020-09-07 10:47:27.42315+00  2020-10-13 14:25:09.396112+00
1  2020-09-09 20:51:17.998653+00  2020-10-13 14:25:15.537063+00
2  2020-10-23 10:10:58.352972+00  2020-10-23 10:10:58.352994+00
3  2020-10-31 15:46:53.643958+00  2020-10-31 15:46:53.643982+00
4  2020-10-06 08:20:17.170432+00  2020-10-13 14:25:03.267983+00

                         paid_at from_date to_date charge_moment
0   2020-12-17 14:50:07.47011+00       NaN     NaN         after
1   2020-12-08 17:13:10.45908+00       NaN     NaN         after
2   2020-11-04 19:34:37.43291+00       NaN     NaN         after
3  2020-11-19 05:09:22.500223+00       NaN     NaN         after
4  2020-11-02 14:45:20.355598+00       NaN     NaN         after
Type of data:
 id                   int64
cash_request_id    float64
type                object
status              object
category            object
total_amount       float64
reason              object
created_at          object
updated_at          object
paid_at             object
from_date           object
to_date             object
charge_moment       object
dtype: object
Info: <bound method DataFrame.info of           id  cash_request_id             type    status  \
0       6537          14941.0  instant_payment  rejected
1       6961          11714.0         incident  accepted
2      16296          23371.0  instant_payment  accepted
3      20775          26772.0  instant_payment  accepted
4      11242          19350.0  instant_payment  accepted
...      ...              ...              ...       ...
21056  12372          20262.0  instant_payment  rejected
21057  20768          26764.0  instant_payment  rejected
21058  18779          25331.0  instant_payment  rejected
21059  16542          23628.0  instant_payment  rejected
21060  13301          20982.0  instant_payment  accepted

                    category  total_amount  \
0                        NaN           5.0
1      rejected_direct_debit           5.0
2                        NaN           5.0
3                        NaN           5.0
4                        NaN           5.0
...                      ...           ...
21056                    NaN           5.0
21057                    NaN           5.0
21058                    NaN           5.0
21059                    NaN           5.0
21060                    NaN           5.0

                                   reason                     created_at  \
0      Instant Payment Cash Request 14941   2020-09-07 10:47:27.42315+00
1                   rejected direct debit  2020-09-09 20:51:17.998653+00
2      Instant Payment Cash Request 23371  2020-10-23 10:10:58.352972+00
3      Instant Payment Cash Request 26772  2020-10-31 15:46:53.643958+00
4      Instant Payment Cash Request 19350  2020-10-06 08:20:17.170432+00
...                                   ...                            ...
21056  Instant Payment Cash Request 20262  2020-10-10 06:42:22.822743+00
21057  Instant Payment Cash Request 26764  2020-10-31 15:24:18.680694+00
21058  Instant Payment Cash Request 25331  2020-10-27 17:28:51.749177+00
21059  Instant Payment Cash Request 23628  2020-10-23 16:27:52.047457+00
21060  Instant Payment Cash Request 20982  2020-10-14 07:12:43.958192+00

                          updated_at                        paid_at from_date  \
0      2020-10-13 14:25:09.396112+00   2020-12-17 14:50:07.47011+00       NaN
1      2020-10-13 14:25:15.537063+00   2020-12-08 17:13:10.45908+00       NaN
2      2020-10-23 10:10:58.352994+00   2020-11-04 19:34:37.43291+00       NaN
3      2020-10-31 15:46:53.643982+00  2020-11-19 05:09:22.500223+00       NaN
4      2020-10-13 14:25:03.267983+00  2020-11-02 14:45:20.355598+00       NaN
...                              ...                            ...       ...
21056   2020-10-13 14:25:04.18049+00  2020-11-17 05:14:00.080854+00       NaN
21057  2020-10-31 15:24:18.680715+00  2020-12-16 07:10:54.697639+00       NaN
21058    2020-10-27 17:28:51.7492+00  2020-11-18 04:35:42.915511+00       NaN
21059  2020-10-23 16:27:52.047486+00  2020-12-18 05:18:01.465317+00       NaN
21060  2020-10-14 07:12:43.958219+00   2021-02-12 13:02:46.95022+00       NaN

      to_date charge_moment
0         NaN         after
1         NaN         after
2         NaN         after
3         NaN         after
4         NaN         after
...       ...           ...
21056     NaN         after
21057     NaN         after
21058     NaN         after
21059     NaN         after
21060     NaN         after

[21061 rows x 13 columns]>

Looking for missing values

1. Identify those missing values
Columns : used_id, moderated_at, deleted_account_id, cash_request_received_date, money_back_date, send_at,recovery_status, reco_creation, reco_last_update [those three last have a common value]
2. Drop any column?
3. Fill any column?
4. Impute any column?

In [ ]:
# 1. Identifying nan
df_cr.isnull().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [24]:
df_cr.isnull().mean()

id                            0.000000
amount                        0.000000
status                        0.000000
created_at                    0.000000
updated_at                    0.000000
user_id                       0.087735
moderated_at                  0.331039
deleted_account_id            0.912224
reimbursement_date            0.000000
cash_request_received_date    0.320442
money_back_date               0.309846
transfer_type                 0.000000
send_at                       0.305757
recovery_status               0.861076
reco_creation                 0.861076
reco_last_update              0.861076
dtype: float64

Some thoughts for df_cr:
- When user_id is nan is because the account's been deleted. So there's no nan in delected_account_id. MNAR
- Three last columns are correlated, I can slice them. MAR
    - They seem to be correlated with cash_request_received_sate and money_back_date.MAR
    - Pivot maybe. When the cash is received, other values show up.
- The id of the transfer is id and user_id for the user.